.ball {
    padding: 5px;
    display: inline-flex
}

.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
}